# WONTFIX - We want at least 100.
# Lot of long lines (ssh keys for example).
--no-80chars-check
# even longer lines are also around
--no-140chars-check

# T127797 -for each class
--no-documentation-check

